<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Train:</strong>
  <%= @ticket.train_id %>
</p>

<p>
  <strong>price:</strong>
  <%= @ticket.price %>
</p>



<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
